body {
  padding-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.navbar-brand {
  margin-left: 16px; /* Ajuste o valor conforme necessário */
}

/* Ajuste para a setinha no campo de seleção do Estado */
.navbar-nav .nav-link.active {
color: #0d6efd !important; /* Azul do Bootstrap para link ativo */
}

.navbar-nav .nav-link {
  color: #000 !important; /* Preto para link inativo */
}
.nav-tabs .nav-link.active {
color: #0d6efd !important; /* Azul do Bootstrap para aba ativa */
}

.nav-tabs .nav-link {
  color: #000 !important; /* Preto para aba inativa */
}
.select-container {
  position: relative;
}
.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px; /* Espaço para a setinha */
}
.select-container::after {
  content: '\25BC'; /* Unicode para setinha */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Estilo para o contêiner de ícones */
.icon-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os ícones */
}
.icon-container i {
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s;
}
.icon-container i:hover {
  transform: scale(1.2);
}

/* Cores para os ícones */
.fa-pen-to-square {
  color: #007bff; 
}
.fa-floppy-disk {
  color: #28a745; 
}
.fa-trash {
  color: #dc3545;
}

/* Ocultar ícone de salvar inicialmente */
.d-none {
  display: none;
}

.navbar-toggler {
  margin-right: 15px; /* Adiciona margem à direita do botão hambúrguer */
}

@media (max-width: 991.98px) { /* Aplica o estilo apenas em telas menores */
  .navbar-collapse {
    padding-left: 15px; /* Adiciona margem à esquerda apenas no menu hambúrguer */
    padding-right: 15px; /* Adiciona padding à direita no colapso */
  }

  .navbar-nav .nav-link {
    padding-left: 0; /* Remove o padding adicional dos links no modo colapsado */
  }
}