<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Software</title>
  <link rel="stylesheet" href="../assets/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../assets/css/vendas.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Software</a>-->
    <a class="navbar-brand" href="/clientes">
      <img src="../assets/img/logo.png" alt="Logo" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/vendas">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estoque">Estoque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/relatorios">Relatórios</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <ul class="nav nav-tabs" id="vendaTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="cadastrar-venda-tab" data-bs-toggle="tab" href="#cadastrar-venda" role="tab" aria-controls="cadastrar-venda" aria-selected="true">Registrar Venda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="visualizar-venda-tab" data-bs-toggle="tab" href="#visualizar-venda" role="tab" aria-controls="visualizar-venda" aria-selected="false">Visualizar Vendas</a>
      </li>
    </ul>

    <div class="tab-content" id="vendaTabContent">
      <div class="tab-pane fade show active" id="cadastrar-venda" role="tabpanel" aria-labelledby="cadastrar-venda-tab">
        <h2 class="mt-4">Registrar Venda</h2>
        <form id="vendaForm">
          <div class="form-group">
            <label for="data_venda">Data da Venda</label>
            <input type="date" class="form-control" id="data_venda" required>
          </div>
          <div class="form-group autocomplete">
            <label for="cliente_venda">Cliente</label>
            <input type="text" class="form-control" id="cliente_venda" placeholder="Nome do cliente" required>
            <div id="cliente-suggestions" class="autocomplete-suggestions"></div>
          </div>
          <div id="produto-quantidade-container">
            <div class="row produto-quantidade">
              <div class="form-group col-md-1">
                <button type="button" class="btn btn-outline-primary" onclick="adicionarLinhaProdutoQuantidade()">+</button>
              </div>
              <div class="form-group col-md-7 autocomplete">
                <label for="produto_venda">Produto</label>
                <input type="text" class="form-control" name="produto_venda" placeholder="Nome do produto" required>
                <div class="autocomplete-suggestions"></div>
              </div>
              <div class="form-group col-md-3">
                <label for="quantidade_venda">Quantidade</label>
                <input type="number" class="form-control" name="quantidade_venda" required>
              </div>
              <div class="form-group col-md-1">
                <button type="button" class="btn btn-outline-danger" onclick="removerLinhaProdutoQuantidade(this)">-</button>
              </div>
            </div>
          </div>          
          <div class="form-group">
            <label for="valor_parcial">Valor Parcial</label>
            <input type="text" class="form-control" id="valor_parcial" placeholder="Calculado automaticamente" readonly>
          </div>
          <div class="form-group">
            <label for="tipo_desconto">Tipo de Desconto</label>
            <div class="select-container">
              <select class="form-control" id="tipo_desconto">
                <option value="reais">Em Reais</option>
                <option value="percentual">Percentual</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="desconto" placeholder="Desconto (opcional)">
          </div>
          <div class="form-group">
            <label for="valor_total">Frete</label>
            <input type="text" class="form-control" id="frete" placeholder="Acrescente o valor do frete">
          </div>
          <div class="form-group">
            <label for="valor_total">Valor Total</label>
            <input type="text" class="form-control" id="valor_total" placeholder="Calculado automaticamente" readonly>
          </div>
          <button type="submit" class="btn btn-primary">Registrar Venda</button>
        </form>
      </div>

      <div class="tab-pane fade" id="visualizar-venda" role="tabpanel" aria-labelledby="visualizar-venda-tab">
        <h2 class="mt-4">Visualizar Vendas</h2>
        <div class="form-group autocomplete">
          <label for="buscarVenda">Buscar por Cliente ou Produto:</label>
          <input type="text" class="form-control" id="buscarVenda" placeholder="Digite o nome do cliente ou produto">
        </div>
        <table class="table table-striped" id="tabelaVendas">
          <thead>
            <tr>
              <th>Código de Venda</th>
              <th>Data</th>
              <th>Cliente</th>
              <th>Produto(s)</th>
              <th>Quantidade</th>
              <th>Preço de Venda do(s) Produto(s)</th>
              <th>Valor Parcial da Venda (R$)</th>
              <th>Frete (R$)</th>
              <th>Valor Total da Venda (R$)</th>
              <th>Ações</th> 
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <nav aria-label="Navegação de página" class="mt-3">
          <ul class="pagination justify-content-center" id="paginationVendas">
            <!-- Botões de página serão inseridos dinamicamente -->
          </ul>
        </nav>        
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/vendas.js"></script>
</body>
</html>
